.yelow {
  background: #ffcc00; }

.blue {
  background: #2196f3; }

.green {
  background: #8bc34a; }

.gray {
  background: #a0b0b9; }

.purple {
  background: #5856d5; }

.red {
  background: #ff6a67; }

.window {
  background-color: #e5e5e5;
  display: flex;
  align-items: center;
  align-content: center; }
  .window .loaderContainer {
    display: flex;
    flex-direction: row;
    align-items: center; }
  .window .container {
    margin-left: 0px !important;
    margin-right: 0px !important; }
  .window .cont {
    position: flex;
    width: 70%;
    min-width: 752px;
    margin-top: 50px;
    margin-bottom: 50px;
    background: #ffffff;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    padding: 40px; }
    .window .cont .head {
      width: auto !important; }
      .window .cont .head .title {
        margin-left: 0px !important;
        display: flex; }
        .window .cont .head .title .headerText {
          display: flex; }
        .window .cont .head .title .socketIndicator {
          flex: inherit;
          display: flex; }
      .window .cont .head .btn-active {
        background: #2196f3 !important;
        color: white !important; }
        .window .cont .head .btn-active:active {
          background: #2196f3 !important;
          color: white !important; }
        .window .cont .head .btn-active:hover {
          background: #73bdf8 !important;
          color: white !important; }
        .window .cont .head .btn-active:focus {
          background: #2196f3 !important;
          color: white !important; }
    .window .cont .monitor {
      display: flex;
      align-content: space-between;
      flex-direction: column;
      margin: 0px;
      padding: 15px 0px; }
      .window .cont .monitor .monitorRow {
        display: flex; }
      .window .cont .monitor .monitor-item {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        padding: 0px; }
        .window .cont .monitor .monitor-item .indicator-round-good {
          width: 10px;
          height: 10px;
          border-radius: 5px;
          background: #8bc34a;
          flex: none;
          margin: 5px 10px 5px 5px; }
        .window .cont .monitor .monitor-item .indicator-round-warning {
          width: 10px;
          height: 10px;
          border-radius: 5px;
          background: #ffcc00;
          flex: none;
          margin: 5px 10px 5px 5px; }
        .window .cont .monitor .monitor-item .indicator-round-danger {
          width: 10px;
          height: 10px;
          border-radius: 5px;
          background: #ff6a67;
          flex: none;
          margin: 5px 10px 5px 5px; }
        .window .cont .monitor .monitor-item .metric-bold {
          color: #4a4a4a;
          font-size: 16px;
          font-weight: 600;
          min-width: 110px;
          text-transform: capitalize; }
        .window .cont .monitor .monitor-item .metric-gray {
          font-size: 12px;
          color: #a0b0b9;
          text-transform: capitalize; }
    .window .cont .itemActivityWrapper .leftColumn {
      display: flex;
      flex-grow: initial; }
    .window .cont .flatScale {
      display: flex;
      align-content: space-between;
      flex-direction: column;
      margin: 0px;
      padding: 15px 0px; }
      .window .cont .flatScale .scaleItem {
        display: inline-block;
        font-size: 12px;
        line-height: 16px;
        padding: 0px;
        height: 8px; }
      .window .cont .flatScale .scaleContainer {
        padding: 0px !important;
        margin: 0px !important; }
      .window .cont .flatScale .scaleLableColor {
        display: inline-block;
        border-radius: 2px;
        width: 10px;
        height: 10px;
        margin-right: 6px;
        margin-top: 4px; }
      .window .cont .flatScale .itemColumn {
        padding: 6px; }
      .window .cont .flatScale .scaleLableText {
        display: inline-block;
        text-transform: capitalize; }
