$yellow: #ffcc00;
$blue: #2196f3;
$green: #8bc34a;
$purple: #5856d5;
$gray: #a0b0b9;
$lightGray: #e5e5e5;
$red: #ff6a67;

.yelow {
  background: $yellow;
}

.blue {
  background: $blue;
}

.green {
  background: $green;
}

.gray {
  background: $gray;
}

.purple {
  background: $purple;
}

.red {
  background: $red;
}

.window {
  background-color: $lightGray;
  display: flex;
  align-items: center;
  align-content: center;

  .loaderContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .container {
    margin-left: 0px !important;
    margin-right: 0px !important;
  }

  .cont {
    position: flex;
    width: 70%;
    min-width: 752px;
    margin-top: 50px;
    margin-bottom: 50px;
    background: #ffffff;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    padding: 40px;
    .head {
      width: auto !important;
      .title {
        margin-left: 0px !important;
        display: flex;

        .headerText {
          display: flex;
        }
        .socketIndicator {
          flex: inherit;
          display: flex;
        }
      }
      .btn-active {
        background: $blue !important;
        color: white !important;

        &:active {
          background: $blue !important;
          color: white !important;
        }
        &:hover {
          background: #73bdf8 !important;
          color: white !important;
        }
        &:focus {
          background: #2196f3 !important;
          color: white !important;
        }
      }
    }
    .monitor {
      display: flex;
      align-content: space-between;
      flex-direction: column;
      margin: 0px;
      padding: 15px 0px;

      .monitorRow {
        display: flex;
      }

      .monitor-item {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        padding: 0px;

        .indicator-round {
          &-good {
            width: 10px;
            height: 10px;
            border-radius: 5px;
            background: $green;
            flex: none;
            margin: 5px 10px 5px 5px;
          }
          &-warning {
            width: 10px;
            height: 10px;
            border-radius: 5px;
            background: $yellow;
            flex: none;
            margin: 5px 10px 5px 5px;
          }
          &-danger {
            width: 10px;
            height: 10px;
            border-radius: 5px;
            background: $red;
            flex: none;
            margin: 5px 10px 5px 5px;
          }
        }
        .metric-bold {
          color: #4a4a4a;
          font-size: 16px;
          font-weight: 600;
          min-width: 110px;
          text-transform: capitalize;
        }
        .metric-gray {
          font-size: 12px;
          color: #a0b0b9;
          text-transform: capitalize;
        }
      }
    }

    .itemActivityWrapper {
      .leftColumn {
        display: flex;
        flex-grow: initial;
      }
    }

    @import './components/FlatScale/index.scss';
  }
}
