.flatScale {
  display: flex;
  align-content: space-between;
  flex-direction: column;
  margin: 0px;
  padding: 15px 0px;

  .scaleItem {
    display: inline-block;
    font-size: 12px;
    line-height: 16px;
    padding: 0px;
    height: 8px;
  }
  .scaleContainer {
    padding: 0px !important;
    margin: 0px !important;
  }
  .scaleLableColor {
    display: inline-block;
    border-radius: 2px;
    width: 10px;
    height: 10px;
    margin-right: 6px;
    margin-top: 4px;
  }

  .itemColumn {
    padding: 6px;
  }

  .scaleLableText {
    display: inline-block;
    text-transform: capitalize;
  }
}
